<a href="https://colab.research.google.com/github/hiramaralIA/M2_CETAM_IA_AULAS_PYTHON-AVANCADO/blob/main/hcca_Pandas_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame


## Resumo

É como se fosse uma tabela.

- As colunas funcionam "como chaves de dicionário"
- As linhas funcionam "como listas"

## Funcionamento

Temos um dataframe chamado vendas_df

vendas_df['coluna_x'] -> uma lista com os valores da coluna_x (em formato dataframe, é um dataframe com 1 coluna só)
vendas_df[0] -> NÃO FUNCIONA ASSIM PARA DATAFRAMES
vendas_df[:3] -> pega até a linha de índice 3 do dataframe
vendas_df[['coluna_x', 'coluna_y', 'coluna_z']] -> cria um novo dataframe com as colunas coluna_x, coluna_y e coluna_z
vendas_df['coluna_x'][0] -> pega o itemd a 1ª linha da coluna coluna_x

- Vamos ler um arquivo real, com a Base de Dados de Vendas da Empresa "Contoso"

In [2]:
import pandas as pd
vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep =';')
vendas_df

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1
...,...,...,...,...,...,...,...,...,...,...
980637,980638,31/12/2017,31/12/2017,0,194,2490,4,10353,120,0
980638,980639,31/12/2017,06/01/2018,6,32,2488,4,31750,120,0
980639,980640,31/12/2017,03/01/2018,3,210,2511,10,12003,80,0
980640,980641,31/12/2017,31/12/2017,0,53,436,4,25550,39,0
980641,980642,31/12/2017,31/12/2017,0,309,2510,10,28707,80,0

In [4]:
import pandas as pd
vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep =';')
vendas_df['ID Cliente'][4]

22617

In [11]:
import pandas as pd
vendas_df = pd.read_csv('Contoso - Cadastro Produtos.csv', sep = ';')
vendas_df[['Nome da Marca', 'Custo Unitario', 'Categoria']]

         Nome da Marca Custo Unitario                  Categoria
0              Contoso          10,69  Acessório para Computador
1              Contoso           6,63  Acessório para Computador
2              Contoso           6,63  Acessório para Computador
3              Contoso           6,63  Acessório para Computador
4              Contoso           6,63  Acessório para Computador
...                ...            ...                        ...
1685  Southridge Video          82,77                  Filme DVD
1686  Southridge Video          73,57                  Filme DVD
1687  Southridge Video          82,77                  Filme DVD
1688  Southridge Video          73,57                  Filme DVD
1689  Southridge Video          82,77                  Filme DVD

[1690 rows x 3 columns]

## Aplicação

- O 1º passo de toda Análise de Dados é você entender o que existe na sua base de dados

Usaremos o .info() para isso

In [6]:
vendas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome da Marca   1690 non-null   object
 1   Tipo            1690 non-null   object
 2   Custo Unitario  1690 non-null   object
 3   Preco Unitario  1690 non-null   object
 4   ID Produto      1690 non-null   int64
 5   Categoria       1690 non-null   object
dtypes: int64(1), object(5)
memory usage: 79.3+ KB

- Vamos criar então agora uma lista de Clientes

- Vamos criar agora uma lista com os produtos e as quantidades de vendas dele, caso a gente queira analisar só os produtos (independente de data ou de cliente)