In [8]:
meta = 250000
vendas = [
    ('João', 305000),
    ('Julia', 27000),
    ('Marcus', 9900),
    ('Maria', 3750),
    ('Ana', 450000),
    ('Alon', 7870),
]

for vendedor, qtd in vendas:
    if qtd>=meta:
        print("Apenas os vendedores {} conseguiram bater a meta, vendeu: {} unidades".format(vendedor,qtd))

Apenas os vendedores João conseguiram bater a meta, vendeu: 305000 unidades
Apenas os vendedores Ana conseguiram bater a meta, vendeu: 450000 unidades